<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/header/header.css">
        <link rel="stylesheet" href="../static/signup/signup.css">
        <link rel="stylesheet" href="../static/signup/signup.js">
        <script src="../static/header/header.js" defer></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
   
    <title>SKIN SAVIOUR</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      intergrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <div id="overlay"><div class="popup" id="popup"></div></div>
        <nav class="navigation">
            <img class="image" src="../static/header/images/banner1.jpg" alt="">
            <div class="container">
            <div class="nav" id="navbar">
            <div class="section-logo" >
                <img src="../static/header/images/logo.png" alt="logo" width="40px" height="40px">
                <h3 class="name">SKIN-SAVIOUR</h3>
            </div>
            <ul class="tabs">
                <a href="home.html"><li >Home</li></a>
                <a href="about.html"><li >About Us</li></a>
                <a href="quiz.html"><li>Take Your Quiz</li></a>
                <a href="skin_treatment.html"><li>Skin Treatement</li></a>
                <a href="tips.html"><li >Tips</li></a>
                <a href="contact_us.html"><li>Contact Us</li></a>
                
                <button type="button" class="profile" id="profile" ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                <div id="dropdown">
                    <div class="dropdown-items">
                        <a href="signup.html">Signup</a>
                        <a href="home.html">Logour</a>
                    </div>
                </div>
                </button>
                
            </ul>
            </div>
            <div class="caption">
            <h1 class="content" id="content">A ONE STOP DESTINATION FOR YOUR SKIN TIPS</h1>
            </div>
            </div>
        </nav>

        <div class="register" id="register">
            <h1>Registration Form</h1>
            <form action="">
            <div>
                <div class="top-container">
                    <label for="username" name="username" class="username">User Name :</label>
                    <input type="text" id="username">
                </div>
                <div class="top-container">    
                <label for="firstname" name="firstname" class="firstname">First Name :</label>
                <input type="text" id="firstname">
                </div>
                <div class="top-container">    
                <label for="lastname" name="lastname" class="lastname">Last Name :</label>
                <input type="text" id="lastname">
                </div>
                <div class="top-container">    
                <label for="email" name="email" class="email">Email :</label>
                <input type="text" id="email">
                </div>
                <div class="top-container">    
                <label for="password" name="password" class="password">Password :</label>
                <input type="text" id="password">
                </div>
                <div class="top-container">    
                <label for="cpassword" name="cpassword" class="cpassword">Confirm Password :</label>
                <input type="text" id="cpassword">
                </div>
            </div>
            <div class="submit">
                <button type="submit">Submit</button>
            </div>
            <div class="sign">
                <p>Already have an account <button type="button" onclick="signin()">SignIn</button></p>
            </div>
            </form>
        </div>


        <div class="signin" id="signin">
            <h1>SignIn Form</h1>
            <form action="">
            <div>
                <div class="top-container">
                    <label for="username" name="username" class="username">User Name :</label>
                    <input type="text" id="username">
                </div>
                <div class="top-container">    
                <label for="password" name="password" class="password">Password :</label>
                <input type="text" id="password">
                </div>
            </div>
            <div class="submit">
                <button type="submit">Submit</button>
            </div>
            <div class="sign">
                <p>Don't have an account <button type="button" onclick="register()">Register</button></p>
            </div>
            </form>
        </div>

        <!-- footer -->
        <div class="footer-container" style="background:url('../static/footer/images/products1.jpg');background-repeat: no-repeat;background-size: cover;background-position-y: center;">
            <div class="icons">
                <a href="https://mail.google.com/mail/"><img class="image" src="../static/footer/images/email.png" alt="" width="40px" height="30px"></a>
                <a href="https://www.instagram.com/"><img class="image" src="../static/footer/images/instagram.png" alt="" width="40px" height="30px"></a>
                <a href="https://twitter.com/?lang=en"><img class="image" src="../static/footer/images/twitter.png" alt="" width="40px" height="30px"></a>
            </div>
            <div class="content">FOR MORE INFORMATION CONNECT US AT: <a href="https://mail.google.com/mail/">skinsaviour@gmail.com</a></div>
        </div>
    </body>
</html>